# dependencies & builds
node_modules/
dist/
dist-ssr/

# local configs & secrets
*.local
.env*
*.zip

# tauri artifacts
src-tauri.zip
src-tauri/target/

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
